In [2]:
import pandas as pd
import bs4 as bs4
import tqdm
import glob
import json

### Extraindo as informações dos carros (nome, ano,	km,	cor, câmbio, portas	e preço) das páginas

In [4]:
j = 1
import os
os.remove("parsed_cars_info.json")
with open("parsed_cars_info.json", 'w+') as output:
    for car_file in tqdm.tqdm_notebook(sorted(glob.glob("./dados/dados_carro/Carro*"))):
        with open(car_file, 'r+', encoding='utf-8') as inp:
            page_html = inp.read()
            parsed = bs4.BeautifulSoup(page_html, 'html.parser')

            if (len(parsed.findAll("h2", {"class": "preco"})) >= 1):
                data = dict()
                data['arquivo'] = car_file
                h2_preco = parsed.findAll("h2", {"class": "preco"})[0].string
                titulo = parsed.findAll(class_= 'titulo-sm')

                for t in titulo:
                    carro = t.getText()
                    data['nome'] = "".join(carro.split("\n")).strip()
                try:
                    preco = h2_preco.split(" ")[1]                    
                    divs = parsed.findAll(class_= 'clearfix card card-transparente card-informacoes-basicas')
                    for div in divs:           
                        lis = div.find_next('ul').find_all('li')
                        columns = ['ano', 'km', 'cor', 'cambio', 'portas']
                        #print(car_file, ' -- ', len(lis))
                        i = 0
                        for el in lis:
                            items = el.text.splitlines(0)
                            data[columns[i]] = items[2]
                            i = i + 1
                    data['preco'] = preco
                    output.write("{}\n".format(json.dumps(data)))
                except:
                    print('Não tem o preço na página -> ', car_file)
            #print(' J ', j, ' -- ', car_file)
            #j = j + 1
            #output.write("{}\n".format(json.dumps(data)))
        #else:
            #print('Página errada não possui conteúdo - scrapy fail')
            #my_dict.append('n')

<ipython-input-4-0950fa4721c4>:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for car_file in tqdm.tqdm_notebook(sorted(glob.glob("./dados/dados_carro/Carro*"))):

HBox(children=(FloatProgress(value=0.0, max=2618.0), HTML(value='')))

Não tem o preço na página ->  ./dados/dados_carro\Carro-1.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-1079.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-1777.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-2288.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-2404.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-393.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-400.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-800.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-801.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-802.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-803.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-804.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-805.html
Não tem o preço na página ->  ./dados/dados_carro\Carro-921.html

In [5]:
df = pd.read_json("parsed_cars_info.json", lines=True)
df.head(3)

,arquivo,nome,ano,km,cor,cambio,portas,preco
0,./dados/dados_carro\Carro-100.html,Chevrolet Onix 1.0 LT (Flex) 2020,2020 / 2020,0 Km,Laranja,manual,3.0,"59.890,00"
1,./dados/dados_carro\Carro-1004.html,Fiat Strada Hard Working 1.4 (Flex) (Cabine Si...,2019 / 2019,41.070,Branco,manual,2.0,"45.900,00"
2,./dados/dados_carro\Carro-1005.html,Fiat Strada Hard Working 1.4 (Flex) (Cabine Si...,2018 / 2019,48.654,Prata,manual,4.0,"45.900,00"

#### 1945 registros e 8 colunas

In [6]:
df.shape

(1945, 8)

#### Tratando a feature "km" - 974 registros com a feature "km" igual a "0 km" e 7 igual a "N/D"

In [7]:
df_km = df[df['km'] == "0 Km"] 
df_km.shape

(974, 8)

In [8]:
df_nd = df[df['km'] == "N/D "] 
df_nd.shape

(7, 8)

#### Alterando os valores da feature "km" de "0 Km" e "N/D" para "0"

In [9]:
df.loc[df['km'] == '0 Km', 'km'] = 0
df_km = df[df['km'] == '0 Km'] 
df_km.shape

(0, 8)

In [10]:
df.loc[df['km'] == 'N/D ', 'km'] = 0
df_km = df[df['km'] == 'N/D '] 
df_km.shape

(0, 8)

In [11]:
df['km'].astype(float)
df.to_csv('df_cars.csv', sep='\t', encoding='utf-8')

#### Eliminando registros repetidos

In [37]:
df_tmp1 = pd.read_csv('df_cars.csv', sep='\t')
df_tmp2 = pd.read_csv('df_cars.csv', sep='\t')
df_tmp1.rename(columns={ df_tmp1.columns[0]: "id" }, inplace = True)
df_tmp2.rename(columns={ df_tmp2.columns[0]: "id" }, inplace = True)

In [38]:
repeated = []
for index, row in df_tmp1.iterrows():
    for index1, row1 in df_tmp2.iterrows():
        if row['nome'] == row1['nome'] and row['preco'] == row1['preco'] and row['ano'] == row1['ano'] and row['km'] == row1['km'] and row['cor'] == row1['cor'] and row['portas'] == row1['portas'] and row['id'] != row1['id']:
            if row['id'] not in repeated:
                repeated.append(row1['id'])

In [39]:
df_tmp = pd.DataFrame(columns = list(df_tmp1.columns.values))

In [40]:
for index, row in df_tmp1.iterrows():
    if row['id'] not in repeated:
        df_tmp = df_tmp.append(row, ignore_index=True)

In [41]:
print('Registros duplicados:', len(df) - len(df_tmp))

Registros duplicados: 234

In [44]:
df_tmp.to_csv('df_cars_no_duplicates.csv', sep='\t', encoding='utf-8')

In [79]:
df = pd.read_csv('df_cars_no_duplicates.csv', sep='\t')

#### Convertendo os preços de  string para float

In [80]:
for x in range(100):
    if x >= 10:
        str_replace = ',' + str(x)
    else:    
        str_replace = ',0' + str(x)
    df['preco'] = df.preco.replace({str_replace:''}, regex=True)

In [87]:
for i in range(len(df)) : 
    df['preco'][i] = df['preco'][i].replace('.', '')

<ipython-input-87-aa0fe7f1b6cb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['preco'][i] = df['preco'][i].replace('.', '')

In [88]:
df['preco']

0       59890
1       45900
2       45900
3       45990
4       45990
        ...
1706    45590
1707    45730
1708    45890
1709    45890
1710    45890
Name: preco, Length: 1711, dtype: object

In [89]:
df['preco'].astype(float)

0       59890.0
1       45900.0
2       45900.0
3       45990.0
4       45990.0
         ...
1706    45590.0
1707    45730.0
1708    45890.0
1709    45890.0
1710    45890.0
Name: preco, Length: 1711, dtype: float64

In [90]:
df['preco']

0       59890
1       45900
2       45900
3       45990
4       45990
        ...
1706    45590
1707    45730
1708    45890
1709    45890
1710    45890
Name: preco, Length: 1711, dtype: object

In [91]:
df_tmp.to_csv('df_final.csv', sep='\t', encoding='utf-8')