In [40]:
%config IPCompleter.greedy=True

In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

#### Carregando os dados

In [42]:
def convert_prices(df): 
    for x in range(100): # loop de ,00 ,01 ,02...até 0,99 centavos
        if x >= 10:
            str_replace = ',' + str(x)
        else:    
            str_replace = ',0' + str(x)
        df['preco'] = df.preco.replace({str_replace:''}, regex=True)
    
    for i in range(len(df)) : 
        df['preco'][i] = df['preco'][i].replace('.', '')
    
    df['preco'] = df['preco'].astype(float)
    
    return df

In [43]:
def load_df():    
    df = pd.read_csv('df_final.csv', sep='\t')
    df.drop(df.columns[[0, 1, 2]], axis = 1, inplace = True) 
    df = convert_prices(df)
    return df

In [44]:
df = load_df()
df.head()

<ipython-input-42-ae655fdf5223>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['preco'][i] = df['preco'][i].replace('.', '')

,nome,ano,km,cor,cambio,portas,preco
0,Chevrolet Onix 1.0 LT (Flex) 2020,2020 / 2020,0.000,Laranja,manual,3.0,59890.0
1,Fiat Strada Hard Working 1.4 (Flex) (Cabine Si...,2019 / 2019,41.070,Branco,manual,2.0,45900.0
2,Fiat Strada Hard Working 1.4 (Flex) (Cabine Si...,2018 / 2019,48.654,Prata,manual,4.0,45900.0
3,Fiat Strada Hard Working 1.4 (Flex) (Cabine Si...,2018 / 2019,19.000,Prata,manual,2.0,45990.0
4,Fiat Strada Hard Working 1.4 (Flex) (Cabine Si...,2018 / 2019,24.715,Branco,manual,2.0,45990.0

#### Verificando features com dados faltantes

In [45]:
[col for col in df.columns if df[col].isnull().any()]

['cambio', 'portas']

In [46]:
cars_features = ['km', 'cambio', 'portas', 'cor', 'ano']
X = df[cars_features]

In [47]:
print('Cambio valores distintos:', X.cambio.unique())
print('Valores faltantes: ', X.cambio.isna().sum())
print('\nCambio totais por tipo:')
print(X.cambio.value_counts())

Cambio valores distintos: ['manual' 'automático' nan]
Valores faltantes:  11

Cambio totais por tipo:
manual        1334
automático     366
Name: cambio, dtype: int64

In [48]:
print('Portas valores distintos:', X.portas.unique())
print('Valores faltantes: ', X.portas.isna().sum())
print('\nPortas totais por tipo:')
print(X.portas.value_counts())

Portas valores distintos: [ 3.  2.  4. nan  5.]
Valores faltantes:  225

Portas totais por tipo:
4.0    932
5.0    346
2.0    163
3.0     45
Name: portas, dtype: int64

In [49]:
print('Portas valores distintos:', X.cor.unique())
print('Valores faltantes: ', X.cor.isna().sum())
print('\Cores totais por tipo:')
print(X.cor.value_counts())

Portas valores distintos: ['Laranja' 'Branco' 'Prata' 'Azul' 'Vermelho' 'Preto' 'Cinza' 'Marrom'
 'Várias cores' 'Não informada.' 'manual' 'Vinho' 'Dourado' 'automático'
 'Verde' 'Bege' 'Bronze' 'Amarelo']
Valores faltantes:  0
\Cores totais por tipo:
Branco            710
Prata             262
Preto             257
Vermelho          144
Cinza             112
Várias cores      112
Não informada.     39
Laranja            21
Azul               16
Marrom             10
Verde               6
automático          6
manual              5
Bege                3
Vinho               3
Dourado             3
Bronze              1
Amarelo             1
Name: cor, dtype: int64

In [50]:
X["cor"].replace({"Várias cores": "Prata"}, inplace=True)
X["cor"].replace({"Não informada.": "Preto"}, inplace=True)
X["cor"].replace({"automático": "Preto"}, inplace=True)
X["cor"].replace({"manual": "Preto"}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [51]:
print('Ano valores distintos:', X.ano.unique())
print('Valores faltantes: ', X.ano.isna().sum())
print('Anos totais por tipo:')
print(X.ano.value_counts())

Ano valores distintos: ['2020 / 2020' '2019 / 2019' '2018 / 2019' '2017 / 2018' '2018 / 2018'
 '2015 / 2016' '2016 / 2016' '2015 / 2015' '2014 / 2015' '2013 / 2014'
 '2013 / 2013' '2012 / 2013' '2012 / 2012' '2011 / 2011' '2020 / 2021'
 '2019 / 2020' '2016 / 2017' '2017 / 2017' '2011 / 2012' '2009 / 2010'
 '2009 / 2009' '2014 / 2014']
Valores faltantes:  0
Anos totais por tipo:
2019 / 2020    607
2020 / 2020    402
2020 / 2021    226
2018 / 2019    154
2019 / 2019     94
2017 / 2018     45
2018 / 2018     36
2016 / 2017     25
2015 / 2015     21
2014 / 2015     18
2016 / 2016     17
2015 / 2016     17
2013 / 2013     11
2017 / 2017     10
2014 / 2014      8
2013 / 2014      8
2012 / 2013      5
2011 / 2011      2
2009 / 2010      2
2012 / 2012      1
2009 / 2009      1
2011 / 2012      1
Name: ano, dtype: int64

In [52]:
X["ano"].replace({"2021 / 2021": "2021"}, inplace=True)
X["ano"].replace({"2020 / 2020": "2020"}, inplace=True)
X["ano"].replace({"2019 / 2019": "2019"}, inplace=True)
X["ano"].replace({"2018 / 2018": "2018"}, inplace=True)
X["ano"].replace({"2017 / 2017": "2017"}, inplace=True)
X["ano"].replace({"2016 / 2016": "2016"}, inplace=True)
X["ano"].replace({"2015 / 2015": "2015"}, inplace=True)
X["ano"].replace({"2014 / 2014": "2014"}, inplace=True)
X["ano"].replace({"2013 / 2013": "2013"}, inplace=True)
X["ano"].replace({"2012 / 2012": "2012"}, inplace=True)
X["ano"].replace({"2011 / 2011": "2011"}, inplace=True)
X["ano"].replace({"2010 / 2010": "2010"}, inplace=True)
X["ano"].replace({"2009 / 2009": "2009"}, inplace=True)

In [53]:
X["ano"].replace({"2020 / 2021": "2021"}, inplace=True)
X["ano"].replace({"2019 / 2020": "2020"}, inplace=True)
X["ano"].replace({"2018 / 2019": "2019"}, inplace=True)
X["ano"].replace({"2017 / 2018": "2018"}, inplace=True)
X["ano"].replace({"2016 / 2017": "2017"}, inplace=True)
X["ano"].replace({"2015 / 2016": "2016"}, inplace=True)
X["ano"].replace({"2014 / 2015": "2015"}, inplace=True)
X["ano"].replace({"2013 / 2014": "2014"}, inplace=True)
X["ano"].replace({"2012 / 2013": "2013"}, inplace=True)
X["ano"].replace({"2011 / 2012": "2012"}, inplace=True)
X["ano"].replace({"2010 / 2011": "2011"}, inplace=True)
X["ano"].replace({"2009 / 2010": "2010"}, inplace=True)

In [54]:
X['cambio'] = X['cambio'].fillna(method='ffill')
X['portas'] = X['portas'].fillna(method='ffill')

<ipython-input-54-e84a3af25e01>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['cambio'] = X['cambio'].fillna(method='ffill')
<ipython-input-54-e84a3af25e01>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['portas'] = X['portas'].fillna(method='ffill')

In [55]:
print(X.cambio.value_counts())

manual        1338
automático     373
Name: cambio, dtype: int64

In [56]:
print(X.portas.value_counts())

4.0    1057
5.0     428
2.0     176
3.0      50
Name: portas, dtype: int64

In [57]:
print(X.cor.value_counts())

Branco      710
Prata       374
Preto       307
Vermelho    144
Cinza       112
Laranja      21
Azul         16
Marrom       10
Verde         6
Dourado       3
Bege          3
Vinho         3
Bronze        1
Amarelo       1
Name: cor, dtype: int64

In [58]:
print(X.ano.value_counts())

2020    1009
2019     248
2021     226
2018      81
2015      39
2017      35
2016      34
2014      16
2013      16
2011       2
2012       2
2010       2
2009       1
Name: ano, dtype: int64

#### Verificando se ficou alguma feature com dados faltantes

In [59]:
[col for col in X.columns if X[col].isnull().any()]

[]

### Aplicando técnica de LabelEncoder

In [60]:
label_encoder = LabelEncoder()

In [61]:
s = (X.dtypes == 'object')
object_cols = list(s[s].index)
object_cols

['cambio', 'cor', 'ano']

In [62]:
y = df.preco

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [64]:
label_X_train = X_train.copy()
label_X_test = X_test.copy()

In [65]:
for col in object_cols:
    label_X_train[col] = label_encoder.fit_transform(X_train[col])
    label_X_test[col] = label_encoder.transform(X_test[col])

#### RandomForestRegressor

In [27]:
rf = RandomForestRegressor(n_estimators=20, random_state=0)
rf.fit(label_X_train, y_train)
rf_pred = rf.predict(label_X_test)

print('RF - MAE - Mean Absolute Error:', metrics.mean_absolute_error(y_test, rf_pred))
print('RF - MSE - Mean Squared Error:', metrics.mean_squared_error(y_test, rf_pred))
print('RF - RMSE - Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, rf_pred)))

RF - MAE - Mean Absolute Error: 7434.071522803361
RF - MSE - Mean Squared Error: 118949807.13693878
RF - RMSE - Root Mean Squared Error: 10906.411285887709

In [66]:
rf = RandomForestRegressor(n_estimators=20, random_state=0)
rf.fit(label_X_train, y_train)
rf_pred = rf.predict(label_X_test)

print('RF - MAE - Mean Absolute Error:', metrics.mean_absolute_error(y_test, rf_pred))
print('RF - MSE - Mean Squared Error:', metrics.mean_squared_error(y_test, rf_pred))
print('RF - RMSE - Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, rf_pred)))

RF - MAE - Mean Absolute Error: 7434.071522803361
RF - MSE - Mean Squared Error: 118949807.13693878
RF - RMSE - Root Mean Squared Error: 10906.411285887709

In [68]:
rf.score(label_X_test, y_test)

0.6116710248281205

#### LogisticRegression

In [28]:
lr = LogisticRegression(solver='liblinear', multi_class='ovr')
lr.fit(label_X_train, y_train)
lr_pred = lr.predict(label_X_test)

print('LR - MAE - Mean Absolute Error:', metrics.mean_absolute_error(y_test, lr_pred))
print('LR - MSE - Mean Squared Error:', metrics.mean_squared_error(y_test, lr_pred))
print('LR - RMSE - Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, lr_pred)))

LR - MAE - Mean Absolute Error: 10755.663424124514
LR - MSE - Mean Squared Error: 271390622.4377432
LR - RMSE - Root Mean Squared Error: 16473.93767250997

#### DecisionTreeRegressor

In [29]:
dt = DecisionTreeRegressor(max_leaf_nodes=10, random_state=1)
dt.fit(label_X_train, y_train)
dt_pred = dt.predict(label_X_test)

print('DT - MAE - Mean Absolute Error:', metrics.mean_absolute_error(y_test, dt_pred))
print('DT - MSE - Mean Squared Error:', metrics.mean_squared_error(y_test, dt_pred))
print('DT - RMSE - Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, dt_pred)))

DT - MAE - Mean Absolute Error: 7680.0919775468965
DT - MSE - Mean Squared Error: 120830185.51242945
DT - RMSE - Root Mean Squared Error: 10992.278449549458

### Aplicando técnica de OneHotEncoder

In [30]:
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [31]:
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols]))
OH_cols_test = pd.DataFrame(OH_encoder.transform(X_test[object_cols]))

In [32]:
OH_cols_train.index = X_train.index
OH_cols_test.index = X_test.index

In [33]:
num_X_train = X_train.drop(object_cols, axis=1)
num_X_test = X_test.drop(object_cols, axis=1)

In [34]:
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_test = pd.concat([num_X_test, OH_cols_test], axis=1)

In [35]:
OH_X_train

,km,portas,0,1,2,3,4,5,6,7,...,19,20,21,22,23,24,25,26,27,28
574,0.000,4.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1079,27.774,4.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1322,40.580,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
654,48.720,4.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
581,0.000,5.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,42.900,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1216,0.000,5.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1653,0.000,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
559,798.000,4.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
684,0.000,5.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

#### RandomForestRegressor

In [36]:
rf = RandomForestRegressor(n_estimators=20, random_state=0)
rf.fit(OH_X_train, y_train)
rf_pred = rf.predict(OH_X_test)

print('RF - MAE - Mean Absolute Error:', metrics.mean_absolute_error(y_test, rf_pred))
print('RF - MSE - Mean Squared Error:', metrics.mean_squared_error(y_test, rf_pred))
print('RF - RMSE - Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, rf_pred)))

RF - MAE - Mean Absolute Error: 7640.15916983634
RF - MSE - Mean Squared Error: 123760886.66021122
RF - RMSE - Root Mean Squared Error: 11124.787038870058

#### LogisticRegression

In [37]:
lr = LogisticRegression(solver='liblinear', multi_class='ovr')
lr.fit(OH_X_train, y_train)
lr_pred = lr.predict(OH_X_test)

print('LR - MAE - Mean Absolute Error:', metrics.mean_absolute_error(y_test, lr_pred))
print('LR - MSE - Mean Squared Error:', metrics.mean_squared_error(y_test, lr_pred))
print('LR - RMSE - Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, lr_pred)))

LR - MAE - Mean Absolute Error: 8693.91634241245
LR - MSE - Mean Squared Error: 197849600.18093386
LR - RMSE - Root Mean Squared Error: 14065.902039362207

#### DecisionTreeRegressor

In [38]:
dt = DecisionTreeRegressor(max_leaf_nodes=10, random_state=1)
dt.fit(OH_X_train, y_train)
dt_pred = dt.predict(OH_X_test)

print('DT - MAE - Mean Absolute Error:', metrics.mean_absolute_error(y_test, dt_pred))
print('DT - MSE - Mean Squared Error:', metrics.mean_squared_error(y_test, dt_pred))
print('DT - RMSE - Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, dt_pred)))

DT - MAE - Mean Absolute Error: 7934.42100870217
DT - MSE - Mean Squared Error: 129910459.58732493
DT - RMSE - Root Mean Squared Error: 11397.826967774381

### Comparação

In [ ]:
'''
DecisionTreeRegressor com OneHotEncoder e com a feature COR foi o único que teve melhor resultado, comparando 
com o modelo 5 que possui três features KM, PORTAS e CAMBIO    
'''